

.all{
  width: 70%;
  margin: 0 25%;
}

.column50{
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column-reverse;
}

.row{
  margin-bottom: 20px;
}

.col-5{
  margin-bottom: 7px;
}

.txtbox{
  border: 1px solid #000;
  width: 90%;
  padding: 10px;
}

.enviar button{
  padding: 10px;
  border: 1px solid #000;
  color: #000;
  margin-right: 10px;
}

/*Validaciones*/
.text-danger{
  margin-top: -80px;
  margin-bottom: 10px;
  
}

/*Redes*/
.redes{
  padding: 0px;
  margin-top: 30px;
}
.contact {
  margin-bottom: 50px;
}

i{
  font-size: 17px;
  color: #202020;
  margin-right: 10px;
}
.contact span{
  font-family: 'Roboto Mono', monospace;
}

.agradecimiento{
  margin-top: 5px;
  margin-bottom: 80px;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #000;
  padding: 9px;
  font-size: 18px;
  text-align: center;
}



/*RESPONSIVO 1024*/
@media screen and (max-width: 1024px) {
  
.all{
  width: 70%;
  margin: 0 22%;
}


.txtbox{
  padding: 15px;
  font-size: 17px;
}

.enviar button{
  font-size: 17px;
  padding: 15px 20px;
  border: 1px solid #000;
  color: #000;
}

/*Validaciones*/
.text-danger{
  font-size: 15px;
}



/*Redes*/
.redes{
  padding: 10px;
}
.contact {
  margin-bottom: 47px;
}

i{
  margin-right: 15px;
  margin-left: 12px;
}
.contact span{
  font-size: 18px;
}

}


/*RESPONSIVO 800*/
@media screen and (max-width: 800px){

  .txtbox{
    padding: 10px;
    font-size: 15px;
  }

  .enviar button{
    font-size: 15px;
    padding: 10px 15px;
    border: 1px solid #000;
    color: #000;
  }

  /*Validaciones*/
.text-danger{
  font-size: 12px;
}

/*redes*/
  i{
  font-size: 15px;
    margin-right: 10px;
    margin-left: 12px;
  }
  .contact span{
    font-size: 15px;
  }
  
}


/*RESPONSIVO CELULAR*/

@media screen and (max-width: 400px){
}