

#educacion{
  margin-top: 100px;
  margin-bottom: 35%;
}

.Cursos{
  width: 85%;
  margin: 0 10%;
}

.curso{
  width: 19%;
  margin: 10px;
  float: left;
  border: 4px solid #808080;
  box-shadow: 5px 5px rgb(205, 205, 205);
  height: 350px;
  padding: 15px;
}

i{
  color: #3593f8;
  font-size: 40px;
  margin: 0 40%;
  margin-top: 30px;
  margin-bottom: 30px;
}

h3{
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

h4{
  text-align: center;
  margin-bottom: 10px;
  font-size: 15px;
}

ol{
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
}

i:hover{
  font-size: 45px;
  color: #2d7bcf;
}

ol li:hover{
  font-weight: bolder;
}


/*RESPONSIVO 1024*/
@media screen and (max-width: 1024px) {

  #educacion{
    margin-bottom: 60%;
  }
  
.Cursos{
  width: 90%;
  margin: 0 5%;
}

.curso{
  width: 19%;
  margin: 10px;
  height: 430px;
  padding: 10px;
}


i:hover{
  font-size: 45px;
  color: #2d7bcf;
}

ol li:hover{
  font-weight: bolder;
}

}


/*RESPONSIVO 800*/
@media screen and (max-width: 800px){
  #educacion{
    margin-bottom: 70%;
  }
  
.Cursos{
  width: 100%;
  margin-left: 25px;
}

.curso{
  width: 20%;
  margin: 5px;
  height: 430px;
  padding: 7px;
}

}
/*RESPONSIVO CELULAR*/

@media screen and (max-width: 400px){
  #educacion{
    margin-top: 0px;
    margin-bottom: 260%;
  }
  
}