<footer>
  <div class="contacto">
    <div class="con">
      <span>Correo:</span>
      leonalba@gmail.com
    </div>
    <div class="con">
      <span>Celular:</span>
      65060885
    </div>
    <div class="con">
      <span>Direccion</span>
      Av. Chiquicollo y Linde #5
    </div>
  </div>

  <div class="barra">
    &copy; Alba María | Leon Roque {{ anio }}
  </div>
</footer>