
footer{
  background-color: #000;
  /* width: 100%; */
  color: #848383;
  padding: 30px;
  position: relative;
  bottom: 0px;
  width: 95.58%;
}

.contacto{
  width: 75%;
  text-align: center;
  margin: 0 13%;
  margin-bottom:30px;
}

.con {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
}

.contacto .con span{
  font-weight: bold;
  color: #848383;
}

.barra{
  width: 18%;
  margin: 0 41%;
}


/*RESPONSIVO 1024*/
@media screen and (max-width: 1024px) {
}


/*RESPONSIVO 800*/
@media screen and (max-width: 800px){
}


/*RESPONSIVO CELULAR*/

@media screen and (max-width: 400px){
}