
<div class="navbar principal">
  <!--active-->
  <a [routerLink]="['inicio']" routerLinkActive = "active" class="borderR">01 : Inicio</a>
  <a [routerLink]="['sobre-mi']" routerLinkActive = "active" class="borderR">02 : Sobre mi</a>
  <a [routerLink]="['estudios']" routerLinkActive = "active" class="borderR">03 : Estudios</a>
  <a [routerLink]="['portafolio']" routerLinkActive = "active" class="borderR">04 : Portafolio</a>
  <a [routerLink]="['contacto']" routerLinkActive = "active">05 : Contáctame</a>
</div>