*{
  top: 0px;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.navbar{
  overflow: hidden;
  cursor: pointer;
}

.principal{
  width: 80%;
  text-align: center;
  margin: 0 10%;
  position: absolute;
  margin-top: 28px;
}

 a{
  font-size: 15px;
  text-decoration: none;
  color: #848383;
  transition: all .1s linear;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: 'Roboto Mono', monospace;
  padding: 35px;
}

.borderR{
  border-right: 2px solid #848383;
}

a:hover{
  font-weight: bold;
}

.active {
  font-weight: bolder;
  font-size: 16px;
  color: rgb(0, 0, 0);
}




/*RESPONSIVO 1024*/
@media screen and (max-width: 1024px) {

  a{
    font-size: 13px;
    padding: 15px;
  }
}


/*RESPONSIVO 800*/
@media screen and (max-width: 800px){
  a{
    font-size: 11px;
    padding: 6px;
    letter-spacing: 0px;
  }

  .principal{
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 28px;
    margin-left: 0px;
  }

}


/*RESPONSIVO CELULAR*/

@media screen and (max-width: 400px){
 a{
    font-size: 10px;
    padding: 6px;
    color: #fff;
  }

  .hamb {
    display: block;
    font-size: 20px;
    color: #3593f8;
    position: absolute;
    border: none;
    background-color: transparent;
    padding-top: 15px;
    position: fixed;
    z-index: 20;
  }

  nav{
    transform: translateX(0) !important;
  }

  .principal{
    margin: 0px;
  }

  .navbar{
    position: fixed;
    z-index: 10;
    top: 0%;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    transform: translate(100%);
  }

  .invisible{
    transform: translate(100%);
  }

  .visible{
    transform: translateX(0) !important;
  }

  a:hover{
    font-weight: bold;
  }
  
  .active {
    font-weight: bolder;
    font-size: 16px;
    color: #fff;
  }
}


