*{
  box-sizing: border-box;
  
}

.container{
  width: 100%;
  margin-bottom: 30%;
}

.all{
  margin: 0 20%;
  width: 60%;
  background-color: #3593f8;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  height: 250px;
}

.bloque1{
  text-align: center;
  /* margin-left: 100px; */
  background-color: #373737;
  padding-right: 40px;
  padding-left: 40px;
  height: 270px;
}

.column20{
  margin-top: 25px;
  width: 20%;
  float: left;
}

.column80{
  width: 75%;
  float: left;
  color: #fff;
}

.sub{
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
}

.text{
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
}

.mifoto{
  width: 80%;
  border-radius: 50%;
}


/*Competencias
.competencias{
  margin-top: 50px;
  padding: 30px;
  padding-bottom: 230px;
  background-color: #c5c5c5;
}

.titulo{
  font-size: 30px;
  font-weight: bold;
}

.column2{
  background-color: #414141;
  width: 90%;
  margin: 0 10%;
}

.columnizq{
  width:50%;
  float: left;
}

.columnder{
  width: 40%;
  float: left;
  margin-left: 19px;
}

.columnizq .Com{
  margin-top: 10px;
  font-size: 22px;
  text-align: right;
}*/

.Com{
  margin: 10px;
  margin-top: 50px; 
  font-size: 22px;
  text-align: center;
}


/*Prueba*/

.wrap {
  width: 80%;
  margin: 0 18%;
  margin-top: 50px;
}

.fila2{
  margin: 0 22%;
}

.progress-radial {
  float: left;
  width: 155px;
  height: 155px;
  border-radius: 50%;
  background-color: #3593f8;
  margin: 0 7.3%;
  margin-top: 90px;
}

.progress-radial .overlay {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 42px;
  margin-top: 42px;
  text-align: center;
  line-height: 61px;
  font-size: 19px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bolder;
}

/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */
.progress-0 {
  background-image: linear-gradient(90deg, #3593f8 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, #3593f8 50%, #2f3439 50%, #2f3439);
}

.progress-5 {
  background-image: linear-gradient(90deg, #3593f8 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(108deg, #3593f8 50%, #2f3439 50%, #2f3439);
}

.progress-10 {
  background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, #3593f8 50%, #2f3439 50%, #2f3439);
}

.progress-15 {
  background-image: linear-gradient(90deg, #3593f8 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(144deg, #3593f8 50%, #2f3439 50%, #2f3439);
}

.progress-20 {
  background-image: linear-gradient(90deg, #3593f8 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, #3593f8 50%, #2f3439 50%, #2f3439);
}

.progress-25 {
  background-image: linear-gradient(90deg, #3593f8 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, #3593f8 50%, #2f3439 50%, #2f3439);
}

.progress-30 {
  background-image: linear-gradient(90deg, #3593f8 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, #3593f8 50%, #2f3439 50%, #2f3439);
}

.progress-35 {
  background-image: linear-gradient(90deg, #3593f8 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(216deg,#3593f8 50%, #2f3439 50%, #2f3439);
}

.progress-40 {
  background-image: linear-gradient(90deg, #3593f8 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, #3593f8 50%, #2f3439 50%, #2f3439);
}

.progress-45 {
  background-image: linear-gradient(90deg, #3593f8 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(252deg, #3593f8 50%, #2f3439 50%, #2f3439);
}

.progress-50 {
  background-image: linear-gradient(-90deg, #3593f8 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #3593f8 50%, #2f3439 50%, #2f3439);
}

.progress-55 {
  background-image: linear-gradient(-72deg, #3593f8 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #3593f8 50%, #2f3439 50%, #2f3439);
}

.progress-60 {
  background-image: linear-gradient(-54deg, #3593f8 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #3593f8 50%, #2f3439 50%, #2f3439);
}

.progress-65 {
  background-image: linear-gradient(-36deg, #3593f8 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #3593f8 50%, #2f3439 50%, #2f3439);
}

.progress-70 {
  background-image: linear-gradient(-18deg, #3593f8 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #3593f8 50%, #2f3439 50%, #2f3439);
}

.progress-75 {
  background-image: linear-gradient(0deg, #3593f8 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #3593f8 50%, #2f3439 50%, #2f3439);
}

.progress-80 {
  background-image: linear-gradient(18deg, #3593f8 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #3593f8 50%, #2f3439 50%, #2f3439);
}

.progress-85 {
  background-image: linear-gradient(36deg, #3593f8 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #3593f8 50%, #2f3439 50%, #2f3439);
}

.progress-90 {
  background-image: linear-gradient(54deg, #3593f8 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #3593f8 50%, #2f3439 50%, #2f3439);
}

.progress-95 {
  background-image: linear-gradient(72deg, #3593f8 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #3593f8 50%, #2f3439 50%, #2f3439);
}

.progress-100 {
  background-image: linear-gradient(90deg, #3593f8 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #3593f8 50%, #2f3439 50%, #2f3439);
}

/*RESPONSIVO 1024*/
@media screen and (max-width: 1024px) {
  
.container{
  width: 100%;
  margin-bottom: 60%;
}

.all{
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  height: 310px;
}

.bloque1{
  height: 320px;
}

.columnizq{
  margin-left: -30px;
}

}


/*RESPONSIVO 800*/
@media screen and (max-width: 800px){

  .all{
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    height: 380px;
  }
  
  .bloque1{
    height: 390px;
  }

  .column80{
    width: 80%;
  }
  
  .sub{
    margin: 20px;
  }
  
  .mifoto{
    width: 120%;
  }


  .container{
    width: 100%;
    margin-bottom: 55%;
  }
}


/*RESPONSIVO CELULAR*/

@media screen and (max-width: 400px){


}