
<div class="container">
  
  <div class="titulo">
    <h2 class="title">
      02 : Sobre mi
    </h2>
  </div>

<div class="all">
    <div class="bloque1">
      <div class="column20">
        <img src="../../../assets/img/mi foto.webp" alt="mifoto" class="mifoto">
      </div>
      <div class="column80 column1">
        <div class="sub">
          <h3>Alba L.</h3>
          <h4>diseñadora y programadora</h4>
        </div>
        <div class="text">
          Soy una estudiante con los conocimientos necesarios para elaborar programas, de manera eficiente, con la capacidad de resolver los problemas que se le presentan. Con ganas de enfrentar nuevos retos que enriquezcan mi experiencia laboral, y asi poder adquirir mayores conocimientos sobre programacion, ya que es el área en la que me estoy capacitando 
        </div>
      </div>

</div>

</div>

<div>
  <h2>Competencias</h2>
</div>
<div class="wrap">
  <div class="fila1">
    <div class="progress-radial progress-90">
      <div class="overlay">90%</div>
      <div class="Com">Trabajo en equipo</div>
    </div>
    
    <div class="progress-radial progress-80">
      <div class="overlay">80%</div>
      <div class="Com">Programación</div>
    </div>
    
    <div class="progress-radial progress-90">
      <div class="overlay">90%</div>
      <div class="Com">Habilidades creativas</div>
    </div>
  </div>
  
  <div class="fila2">
    <div class="progress-radial progress-80">
      <div class="overlay">80%</div>
      <div class="Com">Diseño Web</div>
    </div>
        
    <div class="progress-radial progress-90">
      <div class="overlay">90%</div>
      <div class="Com">Atención al cliente</div>
    </div>
  </div>

  </div>

<!-- <app-footer></app-footer> -->