/* You can add global styles to this file, and also import other style files */



*{
  margin: 0px;
}

body{
  background-color: #fff;
}

.titulo h2{
  margin-top: 130px;
  text-align: center;
  color: #202020;
  font-size: 40px;
  margin-bottom: 50px;
  border-right:2px solid #202020;
  border-left:2px solid #202020;
}

.titulo{
  width: 25%;
  margin: 0 40%;
}

.text-danger{
  color: #b62c2c;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  font-weight: bold;
}

/*RESPONSIVO 1024*/
@media screen and (max-width: 1024px) {
  .titulo h2{
    font-size: 32px;
    padding: 5px;
}

}


/*RESPONSIVO 800*/
@media screen and (max-width: 800px){
  .titulo h2{
    font-size: 25px;
    padding: 7px;
}
}


/*RESPONSIVO CELULAR*/

@media screen and (max-width: 400px){
  
.titulo{
  width: 40%;
  margin: 0 30%;
}

.titulo h2{
    text-align: center;
    color: #202020;
    font-size: 20px;
    margin-bottom: 40px;
    border-right:2px solid #202020;
    border-left:2px solid #202020;
}
}

