
.columnCien{
  width: 80%;
  margin: 0 10%;
  margin-bottom: 37%;
}

.column4{
  width: 29%;
  margin: 20px;
  float: left;
  height: 200px;
}

.column4 img{
  width: 100%;
}

.boletin{
  width: 80%;
  margin: 0 7%;
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin-top: -70px;
  padding: 10px;
}

img{

  filter: grayscale(1);
}

.img-cua:hover img{
  filter: grayscale(0);
}

.fecha{
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}
.title{
  text-align: center;
  margin: 15px;
}

.descripcion{
  margin-bottom: 20px;
}

.ver-mas{

  margin: 0 30%;
}

/* .ver-mas a{
  border: 1px solid #202020;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  padding: 10px 27px;
  color: #202020;
}

.ver-mas a:hover{
  border: none;
  background-color: #3593f8;
  color: #fff;
} */


.ver-mas a{
  background-color: #3593f8;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  text-decoration: none;
  padding: 10px 27px;
  color: #fff;
}

.ver-mas a:hover{
  border: none;
  border: 1.9px solid #202020;
  font-weight: bold;
  background-color: transparent;
  color: #202020;
}



/*RESPONSIVO 1024*/
@media screen and (max-width: 1024px) {
  
  .columnCien{
    width: 90%;
    margin: 0 5%;
    margin-bottom: 50%;
  }
  
  .column4{
    width: 30%;
    margin: 15px;
  }
  
  .column4 img{
    width: 100%;
  }
  
  .title{
    font-size: 22px;
  }
  
  }
  
  
  /*RESPONSIVO 800*/
  @media screen and (max-width: 800px){
      
  .columnCien{
    width: 100%;
    margin-bottom: 60%;
  }
  
  .column4{
    width: 30%;
    margin: 10px;
  }
  
  .column4 img{
    width: 100%;
  }
  
  .title{
    font-size: 22px;
  }
  
  }
  
  
  /*RESPONSIVO CELULAR*/
  
  @media screen and (max-width: 400px){
  }