
<div class="portafolio">
  <div class="titulo">
    <h2>04 : Portafolio</h2>
  </div>
  
  <div class="columnCien">
    <div class="column4 "> 
      <div class="img-cua">
        <img src="../../../assets/img/portafolio-pdf.jpg" alt="">
      </div>
      <div class="boletin">
        <p class="fecha">25/06/2022</p>
        <h2 class="title">Página Web de Reposteria</h2>
        <p class="descripcion">Este boletín es un maquetado que mostrará obras artisticas de distintos artistas. </p>
        <div class="ver-mas">
          <a href="#" >Ver</a>
        </div>
      </div>
    </div>

  
      <div class="column4 "> 
        <div class="img-cua">
          <img src="../../../assets/img/portafolio-pdf.jpg" alt="">
        </div>
        <div class="boletin">
          <p class="fecha">10/08/2021</p>
          <h2 class="title">Marca para un Museo Etnográfico</h2>
          <p class="descripcion">Se creo esta marca bajo el pedido de que se usara un solo color plano, que sea simple, que tenga el nombre, y el subtexto "museo etnografico"</p>
          <div class="ver-mas">
            <a href="#" >Ver</a>
          </div>
        </div>
      </div>
  
  
        <div class="column4 "> 
          <div class="img-cua">
            <img src="../../../assets/img/portafolio-pdf.jpg" alt="">
          </div>
          <div class="boletin">
            <p class="fecha">10/08/2021</p>
            <h2 class="title">Boletín de obras artísticas</h2>
            <p class="descripcion">Este boletín es un maquetado que mostrará obras artisticas de distintos artistas. </p>
            <div class="ver-mas">
              <a href="#" >Ver</a>
            </div>
          </div>
        </div>
    
  </div>
</div>


<app-footer></app-footer>