
<div class="all">
  <div class="nv">

  </div>
  <div class="encabezado">

    <div class="name">
      <span class="last">LEÓN ROQUE</span>
      <span class="first">ALBA MARÍA</span>
      <span>Desarrollador de aplicaciones Web | Diseñadora Gráfica</span>
    </div>
  </div>
  <div class="botones">
    <a [href]="['agenda']">AGENDA</a>
  </div>
</div>