

.nv{
  background-color: #000;
  width: 100%;
  height: 80px;
}


/*ENCABEZADO*/
.encabezado .name{
  padding-top: 150px;
  padding-bottom: 280px;
  background-size: cover;
  background-position-y: center;
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.629) 0%, rgba(1, 1, 1, 0.555) 100%), url(../../../assets/img/banner.jpg);
  color: white;
  
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
}

.name .last{
  font-size: 70px;
}

.name .first{
  font-size: 50px;
}

.name span{
  font-size: 30px;
}

/*Boton para agenda*/
.botones{
  text-align: center;
  margin-top: -10%;
}
.botones a{
  padding: 25px 35px 27px;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  background-color: #3593f8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.botones a:hover{
  color: white;
  background-color: transparent;
  border: 2px solid white;
}



/*RESPONSIVO 1024*/
@media screen and (max-width: 1024px) {

  
  .encabezado .name{
    padding-top: 150px;
    padding-bottom: 320px;
  
  }
  
  .name .last{
    font-size: 60px;
  }
  
  .name .first{
    font-size: 40px;
  }
  
  .name span{
    font-size: 25px;
  }
  
  /*Boton para agenda*/
  .botones a{
    padding: 20px 30px 20px;
  }
  
  }
  
  
  /*RESPONSIVO 800*/
  @media screen and (max-width: 800px){
  
    .encabezado .name{
      padding-top: 150px;
      padding-bottom: 280px;
    }
  
    .name .last{
      font-size: 50px;
    }
    
    .name .first{
      font-size: 30px;
    }
    
    .name span{
      font-size: 20px;
    }
    
    /*Boton para agenda*/
    .botones a{
      font-size: 14px;
      padding: 15px 20px 15px;
    }
  }
  
  
  /*RESPONSIVO CELULAR*/
  
  @media screen and (max-width: 400px){
  
    .nv{
      background-color: #00000083;
      width: 100%;
      height: 50px;
      position: fixed;
      z-index: 10;
  
    }
  
    .encabezado .name{
      padding-top: 250px;
      padding-bottom: 320px;
    }
  
    .name .last{
      font-size: 35px;
    }
    
    .name .first{
      font-size: 27px;
    }
    
    .name span{
      font-size: 13px;
    }
    
    /*Boton para agenda*/
    .botones a{
      font-size: 14px;
      padding: 15px 20px 15px;
    }
  
    .botones{
      margin-top: -30%;
    }
  
  }
  
  
  